---
import { Image } from "astro:assets";
import Badge from "../../../shared/Badge.astro";

interface Technology {
  name: string;
  icon: {
    src: ImageMetadata;
    size: number;
    background?: boolean;
    backgroundColor?: string;
  };
}

interface Props {
  technology: Technology;
}

const { technology } = Astro.props;

const {
  icon: { src: TechnologyIcon, size, background, backgroundColor },
  name,
} = technology;

const badgeClass = `flex flex-col items-center justify-center p-2 bg-${backgroundColor} rounded-full`;
---

<Badge>
  {
    background && backgroundColor ? (
      <div class={badgeClass} slot={"icon"}>
        <Image
          alt={"techonology-icon"}
          height={size}
          src={TechnologyIcon}
          width={size}
        />
      </div>
    ) : (
      <Image
        alt={"techonology-icon"}
        height={size}
        slot={"icon"}
        src={TechnologyIcon}
        width={size}
      />
    )
  }
  {name}
</Badge>
