---
import { Image } from "astro:assets";
import Badge from "../../../shared/Badge.astro";

const { technology } = Astro.props;

const {
    icon: { src: TechnologyIcon, size, background, backgroundColor },
    name,
} = technology;

const badgeClass = `flex flex-col items-center justify-center p-2 bg-${backgroundColor} rounded-full`;
---

<Badge>
    {
        background && backgroundColor ? (
            <div slot="icon" class={badgeClass}>
                <Image
                    width={size}
                    height={size}
                    src={TechnologyIcon}
                    alt="techonology-icon"
                />
            </div>
        ) : (
            <Image
                slot="icon"
                width={size}
                height={size}
                src={TechnologyIcon}
                alt="techonology-icon"
            />
        )
    }
    {name}
</Badge>
