---
import { Image } from "astro:assets";
import type { TechnologyGroup } from "../../../../types";

interface Props {
  technologyGroup: TechnologyGroup;
}

const {
  technologyGroup: { items },
} = Astro.props;
---

<li
  class={"flex flex-col items-start justify-center gap-6 sm-mobile:items-center"}
>
  <div class={"flex flex-col flex-wrap gap-2 sm-mobile:flex-row"}>
    {
      items.map((item) => {
        const {
          icon: { size, src },
          name,
        } = item;

        return (
          <span
            class={
              "inline-flex items-center gap-4 rounded-full border border-indigo-300 bg-violet-100 px-6 py-2 font-semibold text-gray-500 dark:border-gray-400 dark:bg-slate-600 dark:text-gray-300"
            }
          >
            <Image
              alt={`${name.toLowerCase()}-icon`}
              height={size}
              src={src}
              width={size}
            />
            {name}
          </span>
        );
      })
    }
  </div>
</li>
