---
import { Image } from "astro:assets";
import Badge from "../../../shared/Badge.astro";

interface Technology {
  name: string;
  icon: {
    src: ImageMetadata;
    size: number;
    background?: boolean;
  };
}

interface Props {
  technology: Technology;
}

const { technology } = Astro.props;

const {
  icon: { src: TechnologyIcon, size, background },
  name,
} = technology;
---

<Badge>
  {
    background ? (
      <div class="relative flex size-4 flex-col items-center justify-center">
        <div
          class:list={[
            "flex flex-col items-center justify-center size-4 absolute z-10 rounded-full",
            {
              "bg-black": background,
            },
          ]}
          slot={"icon"}
        >
          <Image
            class="z-20"
            alt={"techonology-icon"}
            height={size}
            src={TechnologyIcon}
            width={size}
          />
        </div>
      </div>
    ) : (
      <Image
        alt={"techonology-icon"}
        height={size}
        slot={"icon"}
        src={TechnologyIcon}
        width={size}
      />
    )
  }
  {name}
</Badge>
