---
import LinkedInIcon from "../icons/LinkedIn.astro";
import Link from "../shared/Link.astro";
import MailForward from "../icons/MailForward.astro";
import GithubIcon from "../icons/Github.astro";
import githubProfilePicture from "../../images/github-profile-picture.jpg";
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import {
    GITHUB_PROFILE_LINK,
    LINKEDIN_PROFILE_LINK,
    MAILTO_LINK,
    routes,
} from "../../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const sectionId = routes[lang]["home"].replace("#", "");
---

<section
    class={"flex w-full flex-col items-start justify-center gap-4 md:px-12 lg:w-4/5"}
    id={sectionId}
>
    <div
        class={"w-full flex flex-col-reverse items-center justify-center gap-8 xl:grid xl:grid-cols-2 xl:grid-flow-rows"}
    >
        <div
            class={"flex size-full flex-col items-center justify-center gap-4"}
        >
            <h2
                class={"w-full text-center text-4xl dark:text-pink-400 sm-mobile:text-5xl md:text-5xl xl:text-left"}
            >
                {t("home.greet")}
            </h2>
            <h3
                class={"w-full text-center text-xl text-indigo-500 dark:text-yellow-200 sm-mobile:text-3xl md:text-3xl xl:text-left"}
            >
                {t("home.charge")}
                <br />React & NextJS
            </h3>
            <p
                class={"hidden w-full text-center text-xl sm-mobile:block sm:w-3/4 md:w-full lg:text-left"}
            >
                {t("home.description")}
            </p>
        </div>
        <div class={"flex size-full flex-col items-center justify-center"}>
            <div
                class="flex flex-col justify-center size-60 md:size-2/5 lg:size-72 items-center rounded-full border-8 border-indigo-300 dark:border-pink-500/60"
            >
                <Image
                    alt={"profile-picture"}
                    class={"size-full rounded-full"}
                    loading={"lazy"}
                    src={githubProfilePicture}
                />
            </div>
        </div>
    </div>
    <div
        class={"flex w-full flex-col items-center justify-center gap-4 xl:w-1/2"}
    >
        <div
            class={"flex w-full flex-row flex-nowrap items-center justify-center gap-4 text-indigo-400 xl:flex-wrap xl:justify-start"}
        >
            <Link href={MAILTO_LINK}>
                <MailForward class={"size-6"} slot={"icon"} />
                <span class={"hidden sm:inline-block"}
                    >{t("home.links.companion.mail")}</span
                >
            </Link>
            <Link href={LINKEDIN_PROFILE_LINK}>
                <LinkedInIcon class={"size-6"} slot={"icon"} />
                <span class={"hidden sm:inline-block"}>LinkedIn</span>
            </Link>
            <Link href={GITHUB_PROFILE_LINK}>
                <GithubIcon class={"size-6"} slot={"icon"} />
                <span class={"hidden sm:inline-block"}>Github</span>
            </Link>
        </div>
    </div>
</section>

<style>
    a {
        font-size: 1rem;
        padding: 0.5rem 0.8rem;
    }
</style>
