---
import { Image } from "astro:assets";
import ExternalLink from "../../icons/ExternalLink.astro";
import TechnologyBadge from "./technology/TechnologyBadge.astro";
import ProjectLinks from "./ProjectLinks.astro";

interface Technology {
    name: string;
    icon: {
        src: ImageMetadata;
        size: number;
        background?: boolean;
        backgroundColor?: string;
    };
}

interface Project {
    name: string;
    description: string;
    image: ImageMetadata;
    technologies: Array<Technology>;
    repo: string;
    web?: string;
}

interface Props {
    project: Project;
}

const { project } = Astro.props;
---

<article class="flex flex-col items-center justify-center gap-12 md:flex-row">
    <div
        class="relative flex-col items-center justify-center hidden w-1/2 h-full group lg:flex rounded-xl"
    >
        <div
            class="absolute flex-col items-center justify-center hidden w-full h-full p-2 group-hover:flex group-hover:animate-fade-in group-hover:bg-slate-800/80 backdrop-blur rounded-xl"
        >
            <a
                target="_blank"
                href={`${project.web ? project.web : project.repo}`}
            >
                <ExternalLink
                    class="stroke-2 size-16 stroke-white"
                    name="icon"
                />
            </a>
        </div>
        <Image
            src={project.image}
            alt={"project-image"}
            class="hidden w-full h-full lg:block rounded-xl"
        />
    </div>
    <div class="flex flex-col items-start justify-center w-full gap-4 lg:w-1/2">
        <h4 class="w-full text-2xl text-center sm:w-max sm:text-left">
            {project.name}
        </h4>
        <div class="flex-row flex-wrap hidden gap-4 sm-mobile:flex lg:hidden">
            {
                project.technologies.map((technology) => {
                    return <TechnologyBadge technology={technology} />;
                })
            }
        </div>
        <div
            class="relative flex flex-col items-center justify-center w-full h-full group lg:hidden lg:w-1/2 rounded-xl"
        >
            <div
                class="absolute flex-col items-center justify-center hidden w-full h-full p-2 group-hover:flex group-hover:animate-fade-in group-hover:bg-slate-800/80 backdrop-blur rounded-xl"
            >
                <a
                    target="_blank"
                    href={`${project.web ? project.web : project.repo}`}
                >
                    <ExternalLink
                        class="stroke-2 size-16 stroke-white"
                        name="icon"
                    />
                </a>
            </div>
            <Image
                src={project.image}
                alt={"project-image"}
                class="block w-full h-full lg:hidden rounded-xl"
            />
        </div>
        <div class="flex-row flex-wrap hidden gap-4 lg:flex">
            {
                project.technologies.map((technology) => {
                    return <TechnologyBadge technology={technology} />;
                })
            }
        </div>
        <p set:html={project.description} class="w-full" />
        <ProjectLinks web={project.web} repo={project.repo} />
    </div>
</article>
