---
import { Image } from "astro:assets";
import ExternalLink from "../../icons/ExternalLink.astro";
import TechnologyBadge from "./technology/TechnologyBadge.astro";
import ProjectLinks from "./ProjectLinks.astro";
import type { Project } from "../../../types";

interface Props {
    project: Project;
}

const { project } = Astro.props;
---

<article class={"flex flex-col items-center justify-center gap-12 md:flex-row"}>
    <div
        class={"group relative hidden h-full w-1/2 flex-col items-center justify-center rounded-xl lg:flex"}
    >
        <div
            class={"absolute hidden size-full flex-col items-center justify-center rounded-xl p-2 backdrop-blur group-hover:flex group-hover:animate-fade-in group-hover:bg-slate-800/80 dark:group-hover:bg-slate-400/80"}
        >
            <a
                href={`${project.web ? project.web : project.repo}`}
                rel={"noreferrer"}
                target={"_blank"}
            >
                <ExternalLink
                    class={"size-16 stroke-white stroke-2 dark:stroke-slate-800"}
                    name={"icon"}
                />
            </a>
        </div>
        <Image
            alt={"project-image"}
            class={"hidden size-full rounded-xl lg:block"}
            src={project.image}
        />
    </div>
    <div
        class={"flex w-full flex-col items-start justify-center gap-4 lg:w-1/2"}
    >
        <h4
            class={"w-full text-center text-2xl dark:text-yellow-200 sm:w-max sm:text-left"}
        >
            {project.name}
        </h4>
        <div class={"hidden flex-row flex-wrap gap-4 sm-mobile:flex lg:hidden"}>
            {
                project.technologies.map((technology) => {
                    return <TechnologyBadge technology={technology} />;
                })
            }
        </div>
        <div
            class={"group relative flex size-full flex-col items-center justify-center rounded-xl lg:hidden lg:w-1/2"}
        >
            <div
                class={"absolute hidden size-full flex-col items-center justify-center rounded-xl p-2 backdrop-blur group-hover:flex group-hover:animate-fade-in group-hover:bg-slate-800/80 dark:group-hover:bg-slate-400/80"}
            >
                <a
                    href={`${project.web ? project.web : project.repo}`}
                    rel={"noreferrer"}
                    target={"_blank"}
                >
                    <ExternalLink
                        class={"size-16 stroke-white stroke-2 dark:stroke-slate-800"}
                        name={"icon"}
                    />
                </a>
            </div>
            <Image
                alt={"project-image"}
                class={"block size-full rounded-xl lg:hidden"}
                src={project.image}
            />
        </div>
        <div class={"hidden flex-row flex-wrap gap-4 lg:flex"}>
            {
                project.technologies.map((technology) => {
                    return <TechnologyBadge technology={technology} />;
                })
            }
        </div>
        <p class={"w-full"} set:html={project.description} />
        <ProjectLinks repo={project.repo} web={project.web} />
    </div>
</article>
